body {
  margin: 100px auto;
  max-width: 800px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 36px;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: #F06292;
}
