body {
  background-color: rgba(78, 31, 45, 0.5);
}

h1 {
  font-family: 'Merriweather', serif;
}

h2, p {
  font-family: 'Lato', sans-serif;
}

h2 {
  line-height: 100%;
}

a {
  color: #F06292;
}

#title {
  margin-top: 200px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 8px 8px 10px #481d2b; 
}

#info {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 8px 8px 10px #481d2b; 
}

#link {
  margin-top: 20px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 8px 8px 10px #481d2b;
}
